@import './variable'

.padding-cross-10
  padding 0 10%
.account-up
  position relative
  flex 2
  background $color-primary
  text-align center
.account-down
  position relative
  display flex
  flex-direction column
  flex 3
  text-align center
  color $color-text-prompt
.account-title
  position absolute
  display block
  width 100%
  top 50%
  left 50%
  margin-left -50%
  margin-top -5%
  color #fff
  font-size 60rpx
.account-button
  position absolute
  bottom 0
  width 80%
.account-box
  position absolute
  top 35%
  left 50%
  margin-left -40%
  width 80%
  background #fff
  box-shadow 0 0 20rpx rgba(0, 0, 0, 0.2)
.account-item
  display flex
  flex-direction column
  justify-content center
  height 100rpx
  padding 0 16rpx
  text-align center
.account-input
  text-align center