@import './variable'

/* margin
========================================================================== */
.margin-top-16
  margin-top 16rpx
.margin-top-24
  margin-top 24rpx
.margin-top-32
  margin-top 32rpx
.margin-bottom-16
  margin-bottom 16rpx
.margin-bottom-24
  margin-bottom 24rpx
.margin-bottom-32
  margin-bottom 32rpx
.margin-right-16
  margin-right 16rpx
.margin-right-24
  margin-right 24rpx
.margin-right-32
  margin-right 32rpx
/* padding
========================================================================== */
.padding-8
  padding 8rpx
.padding-16
  padding 16rpx
/* border
========================================================================== */
.border-top
  border-top 1px solid $color-divider
.border-bottom
  border-bottom 1px solid $color-divider
/* align
========================================================================== */
.center
  text-align center
/* flex
========================================================================== */
.flex-column
  position relative
  display flex
  flex-direction column
  height 100%
.flex-row
  position relative
  display flex
  flex-direction row
  width 100%
.flex-content-center
  justify-content center
.flex-1
  position relative
  flex 1
.flex-2
  position relative
  flex 2
.flex-3
  position relative
  flex 3
.flex-4
  position relative
  flex 4
/* color
========================================================================== */
.primary
  color $color-primary
.success
  color $color-success
.warning
  color $color-warning
.error
  color $color-error
/* button
========================================================================== */
.btn-primary
  color #fff
  background-color $color-primary
  border-color $color-primary
.btn-primary-hover
  background-color $color-primary-hover
  border-color $color-primary-hover
/* common
========================================================================== */
.view-btn-bottom
  position fixed
  bottom 0
  left 0
  padding 24rpx 0
  width 100%
  text-align center
  color $color-primary
  background-color #fff
  border-top 1rpx solid $color-divider
  z-index 10
.view-light-hover
  background-color $color-backgorund-light-hover
.text-link
  color $color-primary
.text-button
  display block
  padding 16rpx
/* page cover
========================================================================== */
.page-cover
  position absolute
  top 100%
  height 0
  width 100%
  z-index 100
  background-color #fff
  overflow hidden
  transition all 0.5s ease-in-out
.page-cover-show
  top 0
  height 100%
.toolbar
  display flex
  align-items center
  justify-content space-between
  padding 16rpx 24rpx
  background-color #fff
  border-top 1rpx solid $color-divider
  border-bottom 1rpx solid $color-divider
