
@font-face {
  font-family: 'iconfont';  /* project id 591773 */
  src: url('//at.alicdn.com/t/font_591773_48hyv6lscdp4aemi.eot');
  src: url('//at.alicdn.com/t/font_591773_48hyv6lscdp4aemi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_591773_48hyv6lscdp4aemi.woff') format('woff'),
  url('//at.alicdn.com/t/font_591773_48hyv6lscdp4aemi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_591773_48hyv6lscdp4aemi.svg#ht-font') format('svg');
}

.ht-icon {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ht-project:before { content: "\e603"; }

.ht-project-outline:before { content: "\e604"; }

.ht-bigdata:before { content: "\e605"; }

.ht-copy:before { content: "\e606"; }

.ht-database:before { content: "\e608"; }

.ht-network:before { content: "\e609"; }

.ht-detail:before { content: "\e60b"; }

.ht-chat:before { content: "\e60c"; }

.ht-close:before { content: "\e60e"; }

.ht-pricetag:before { content: "\e60d"; }

.ht-clock-outline:before { content: "\e60a"; }

.ht-clock:before { content: "\e60f"; }
