@font-face {
  font-family: 'ht-font';  /* project id 591773 */
  src: url('//at.alicdn.com/t/font_591773_5v9y4lo8dad78pvi.eot');
  src: url('//at.alicdn.com/t/font_591773_5v9y4lo8dad78pvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_591773_5v9y4lo8dad78pvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_591773_5v9y4lo8dad78pvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_591773_5v9y4lo8dad78pvi.svg#ht-font') format('svg');
}

.ht-icon {
  font-family:"ht-font" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ht-person-add:before { content: "\e6ca"; }

.ht-plus:before { content: "\e8e1"; }

.ht-project:before { content: "\e603"; }

.ht-project-outline:before { content: "\e604"; }

.ht-bigdata:before { content: "\e605"; }

.ht-copy:before { content: "\e606"; }

.ht-network:before { content: "\e609"; }

.ht-detail:before { content: "\e60b"; }

.ht-chat:before { content: "\e60c"; }

.ht-more-outline:before { content: "\e607"; }

.ht-more:before { content: "\e60d"; }

.ht-close:before { content: "\e60e"; }

.ht-clock-outline:before { content: "\e60a"; }

.ht-clock:before { content: "\e60f"; }

.ht-plus-circle:before { content: "\e8e2"; }
