@font-face {
  font-family: 'ht-font';  /* project id 591773 */
  src: url('//at.alicdn.com/t/font_591773_8yo7wvuuks5uerk9.eot');
  src: url('//at.alicdn.com/t/font_591773_8yo7wvuuks5uerk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_591773_8yo7wvuuks5uerk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_591773_8yo7wvuuks5uerk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_591773_8yo7wvuuks5uerk9.svg#ht-font') format('svg');
}

.ht-icon {
  font-family:"ht-font" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ht-person-add:before { content: "\e6ca"; }

.ht-gear:before { content: "\e788"; }

.ht-check:before { content: "\e646"; }

.ht-plus:before { content: "\e8e1"; }

.ht-project:before { content: "\e603"; }

.ht-project-outline:before { content: "\e604"; }

.ht-bigdata:before { content: "\e605"; }

.ht-network:before { content: "\e609"; }

.ht-detail:before { content: "\e60b"; }

.ht-chat:before { content: "\e60c"; }

.ht-more-outline:before { content: "\e607"; }

.ht-close:before { content: "\e60e"; }

.ht-clock-outline:before { content: "\e60a"; }
