// 颜色定义规范
$color-text = #333
$color-text-secondary = #666
$color-text-prompt = #999
$color-divider = #ececec
$color-background = #efefef

$color-backgorund-light-hover = #f3f3f3

$color-primary = #2d8cf0
$color-primary-hover = #2b85e4
$color-primary = #2d8cf0
$color-secondary = #5cadff
$color-success = #19be6b
$color-warning = #ff9900
$color-error = #ed3f14